@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url("./assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  font-size: 20px;
  font-family: "Barlow";
}